body {
  background-color: #C3CDE6;
}

#controls {
  display: block;
}

canvas {
  position: relative;
  display: none;
}

#loader {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-image: url("images/rollercoaster1.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}