#controls {
  display: block;
}

canvas {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20vh;
  display: none;
  -webkit-animation-name: canvasUp;
  -webkit-animation-duration: 1s;
  animation-name: canvasUp;
  animation-duration: 1s;
}

@-webkit-keyframes canvasUp {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes canvasUp {
  from {
    bottom: -100px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

#loader {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-image: url("images/rollercoaster1.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bg {
  /* The image used */
  background-image: url("https://i.redd.it/9hgan8ehx2211.jpg") !important;
  /* Full height */
  height: 100% !important;
  z-index: -999 !important;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}